form {
    margin: 20px 0;
}

fieldset {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

fieldset > div {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
    margin-bottom: 5px;
}

legend {
    color: green;
}

input {
    border: solid 1px green;
}

input[type="submit"] {
    background-color: green;
    color: white;
    position: relative;
    left: 50%;
}

/* input[type="checkbox"] {
    position: relative;
    left: -40%;
} */

