.cart-bg {
    box-shadow: #ddd 0px 0px 19px 8px;
    margin-bottom: 29px;
    padding: 40px 25px;
    margin-top: 25px;
}

.cart-item {
    width: 80%;
    justify-content: space-between;
    margin: 2px auto;
    background: rgba(100, 100, 100, 0.2);
    padding: 5px 20px;
    align-items: center;
}
